<!DOCTYPE html>
<html lang="en" ng-app="zombieApp">
  <head>
    <meta charset="utf-8">
    <title>Zombies</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </head>
  <body ng-controller="ZombieListCtrl">
    <h1>Video Game Zombies</h1>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          Search: <input ng-model="query">
          Sort by:
          <select ng-model="orderProp">
            <option value="name">Zombie Name</option>
            <option value="game">Game</option>
            <option value="-year">Year</option>
          </select>
        </div>
        <div class="span10">
          <ul class="zombies">
            <li ng-repeat="zombie in zombies | filter: query | orderBy: orderProp" class="thumbnail">
              <a href="#/zombies/{{zombie.id}}" class="thumb">
                <img ng-src="{{zombie.imageUrl}}">
              </a>
              <a href="#/zombies/{{zombie.id}}">{{zombie.name}}</a>
              <p>Featured in: {{zombie.game}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>